# Copy to .env.local and adjust for your setup.
#
# Local dev with local SAM API running:
VITE_API_ROUTE=
VITE_API_PROXY_ROUTE=http://localhost:3001
#

# Local dev with AWS production API:
VITE_API_ROUTE=
VITE_API_PROXY_ROUTE=https://your-api-id.execute-api.region.amazonaws.com
#

# In production:
# VITE_API_ROUTE=https://your-api-id.execute-api.region.amazonaws.com
# VITE_API_PROXY_ROUTE=
